# Ignore all files, but allow all directories.
*
!.gitignore
!*/
!*/**/

# Documentation.
!README.md
!/REPRODUCIBLE.md
!/SECURITY.md
!/CHANGELOG.md
!/LICENSE.txt
!docs/**/*.md

# Rust ecosystem.
!Cargo.toml
!Cargo.lock
!clippy.toml
!src/**/*.rs
!/build.rs

# Bin and Scripts.
!/scripts/*.sh
!/scripts/*.py

# Disallow completely.
/target
/.focus
.local/
