# Ignore all files, but allow all directories.
*
!.gitignore
!*/
!*/**/

# Documentation.
!CHANGELOG.md
!README.md
!docs/**/*.md

# AI Integration.
!CLAUDE.md

# Rust ecosystem.
!Cargo.toml
!Cargo.lock
!clippy.toml
!src/**/*.rs

# Bin and Scripts.
!/bin/*.sh
!/bin/*.py

# Disallow completely.
/target
/.focus
.local/
